.error-page{

  width: 100%;
  height: 100vh;

  background: {
    image: url('../images/backgrounds/error-page.jpg');
    repeat: no-repeat;
    position: center center;
    size: cover;
  }
  position: relative;

  .container-flex{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    width: 100%;

    background: transparentize($bege, .05);

    @include flexbox;
    @include justify-content(center);
    @include align-items(center);


    h5{
      color: $dark_gray;
      font-weight: 800;
      font-size: rem(50);
      line-height:120%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 60px;

      strong{
        font-size: rem(100);
        font-weight: 800;
        letter-spacing: -5px;
      }
    }

    h6{
      font-size: rem(20);
      text-align: center;
      text-transform: uppercase;
    }

    p{
      font-size: rem(16);
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
    }

    a{
      position: relative;
      text-decoration: none!important;
      color: $dark_yellow;
      @include transition(color $default-timing*2 $cubic-easeing .25s);


      &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        border-bottom: 2px solid $dark_yellow;
        height:2px;
        width: 100%;

        @include transition(width $default-timing*2 $cubic-easeing .3s);
      }

      &:before{
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;

        border-bottom: 2px solid $dark_gray;
        height:2px;
        width: 0;

        @include transition(width $default-timing*2 $cubic-easeing);
      }



      &:focus,
      &:hover{
        color: $dark_gray;


        &:after{
          width: 0;
          @include transition(width $default-timing*2 $cubic-easeing);
        }

        &:before{
          width: 100%;
          @include transition(width $default-timing*2 $cubic-easeing .3s);
        }
      }
    }
  }

}