*{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body{
  position: relative;
  top:0;
  font-family: $open_sans;
  @include transition(top $default-timing * 2 $cubic-easeing);

  &.opened{
    top: 300px;
  }
}


.fd_list{
  margin-bottom: 0;
  li{
    position: relative;
    padding:{
      left: 15px;
    };
    color: $dark_gray;
    font-size: rem(16);
    line-height: 130%;
    margin-bottom: 5px;

    &:before{
      content: '';
      position: absolute;
      top: calc(50% - 7px/2);
      left: 0;

      height: 6px;
      width: 6px;
      border-radius: 50px;
      background-color: $dark_yellow;
    }
  }


  @media only screen and (min-width: 768px){
    margin-bottom: 10px;
    li{
      color: darken($light_gray, 10%);
      font-size: rem(18);
      line-height: 220%;
      margin-bottom: 0;
    }
  }
}