footer{

  .fd_footer_top{
    h2{
      font-weight: 800;
      color: $dark_yellow;
      font-size: rem(43);
      text-align: center;
      margin-bottom: 30px;

      small{
        font-weight: 400;
        color: $dark_white;
        text-transform: uppercase;
        font-size: rem(17);
      }
    }

    .col-sm-6{
      padding: 0;

      &:first-of-type{
        background: {
          image: url('../images/backgrounds/contato-bg.png');
          color: $dark_gray;
          repeat: no-repeat;
          size: cover;
          position: center right;
        };
      }
    }
  }




  .fd_form{

    width: 100%;
    max-width: 578px;


    form{
      width: 100%;
      max-width: 348px;
      padding: 30px 30px;
      display: block;
      margin: 0 auto;

      .btn{
        height: 31px;
        border: 2px solid $dark_yellow;
        color: $dark_white;
        background-color: transparent;
        max-width: 122px;
        width: 100%;
        margin: 0 auto;
        padding: 3px 0;
        border-radius: 50px;
        font-size: rem(11);
        letter-spacing: 0.5px;
        text-transform: uppercase;
        outline: none!important;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);

        @include transition(all $default-timing*2 $cubic-easeing);


        &:focus,
        &:hover{
          background-color: $dark_gray;
          @include box-shadow(0 0 0 3px $dark_yellow);
        }
      }
    }
  }
}

.fd_footer_bottom{

  $height: 75px;

  background-color: $gray + 50;
  @include flexbox;
  @include justify-content(space-around);
  @include align-items(center);
  height: $height*3;

  .fd_flex_column{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    height: $height;

    figure{
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      border-radius: 50px;
      height: 40px;
      width: 40px;
      margin-right: 20px;
      border: 2px solid $dark_yellow;
    }

    h4{
      color: $dark_gray;
      font-weight:600;
      font-size: rem(15);

      .thin{
        font-weight: 300;
        color: $dark_yellow;
      }

      strong{
        font-weight:800;
        font-size: rem(23);
        color: $dark_yellow;
      }

      a{
        font-weight: 300;
        color: $dark_yellow;
        text-decoration: none!important;
      }
    }

    .fd_social_link{
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      border-radius: 50px;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      border: 2px solid $dark_yellow;
    }
  }



  @media only screen and (min-width: 992px){

    height: $height * 2;
  }

}

.assinatura{
  background-color: $gray + 50;
  position: relative;
  height: 70px;
  width: 100%;

  a{
    text-indent: -90000px;
    color: transparent;
  }
}