header{
  $height: 350px;
  position: relative;
  height: $height;

  .header-bg{
    background: {
      image: url('../images/backgrounds/header-bg.jpg');
      repeat: no-repeat;
      size: cover;
      position: center bottom;
    }
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 3;
    @include grayscale(100%);
  }

  .header-content{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:5;
    background: {
      color: rgba($black, .5);
    };

    .container{
      margin: 0;
    }

    h1{
      font-family: $montserrat;
      font-weight: 800;
      color: $white;
      font-size: rem(35);
      text-align: center;

      small{
        color: $dark_yellow;
        font-weight: 300;
        font-size: rem(25);
      }
    }
  }

  @media only screen and (min-width: 768px){
    $height: 600px;
    height: $height;


    .header-content{

      h1{
        font-size: rem(62);

        small{
          font-size: rem(44);
        }
      }
    }
  }



  @media only screen and (min-width: 992px){
    $height: 780px;

    height: $height;
  }
}



.header-contact{
  $height: 250px;

  background-color: $dark_gray;
  @include flexbox;
  @include justify-content(flex-start);
  @include align-items(center);
  height: $height;

  .container{
    height: $height;
  }

  .fd_item{
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(center);
    width: 100%;

    height: $height / 3;

    p{
      margin-bottom: 0;
      color: $dark_yellow;
      font-weight: 800;
      font-size: rem(18);
      line-height: 100%;

      small{
        color: $white;
        text-transform: uppercase;
        font-size: rem(13);
        font-weight: 600;
      }

      span{
        &.thin{
          font-size: rem(14);
          font-weight: 300;
        }
      }


    }

    figure{
      width: 40px;
      height: 40px;
      border: 2px solid $dark_yellow;
      border-radius: 50px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      margin-right: 20px;

      img{
      }
    }
  }

  @media only screen and(min-width: 768px){
    height: $height / 2 - 10;

    .container{
      width: 100%;
      max-width: 1050px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);

      .fd_item{
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 992px){

    .container{
      .fd_item{
        p{
          font-size: rem(21);
          letter-spacing: .5px;

          span{
            &.thin{
              font-size: rem(16);
            }
          }
        }
      }
    }
  }
}