

.gm-style-iw {
  width: $map_width;
  top: 15px !important;
  left: 0px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0);
  border: 1px solid $white;
  border-radius: $map_radius;
  padding: $map_padding $map_padding*2;
}
#iw-container {
  margin-bottom: 10px;
  width: 100%;
}

.gm-style-iw p{
  font-size: rem(16);
  line-height: 145%;
  font-weight: 400;
  text-align: center;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}