.fd_carousel{

  .owl-nav{
    text-align: left;
    height: 60px;

    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(center);


    .owl-prev,
    .owl-next{
      background-color: transparent;
      color: $dark_gray;
      font-weight: 600;
      display: inline-block;
      padding: 6px;
      border-radius: 4px;

      @include transition(all $default-timing*1.5 $cubic-easeing);

      a{
        color: $dark_gray;
        text-decoration: none!important;
      }

      &:hover{
        background-color: $dark_yellow;
        color: $dark_white;
      }
    }

    .owl-dots {

      a.owl-dot{
        position: relative;
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 20px;
        margin: 0;
        background: transparent;
        color: $dark_gray;
        text-decoration: none!important;
        font-weight: 800;


        border-right: 1px solid transparentize($dark_gray, .5);

        &:last-of-type{
          border-right: none;
        }

        &:hover,
        &:focus{
          color: $dark_yellow;
        }
      }
    }
  }
}

.owl-theme{
  .owl-dots {
    counter-reset: dots;
    position: absolute;
    left: 0;
    margin-top: -50px;
    margin-left: 80px;

    a.owl-dot{
      position: relative;
      border-radius: 0;
      width: 40px;
      height: 20px;
      margin: 0;
      background: transparent;
      color: $dark_gray;
      text-decoration: none!important;

      border-right: 1px solid transparentize($dark_gray, .5);

      &:last-of-type{
        border-right: none;
      }

      &:before{
        counter-increment:dots;
        content: counter(dots);
        position: absolute;
        left:50%;
        @include translate(-50%, 0);
        z-index:301;
        font-weight: 600;
      }


      &.active{

        &:before{
          color: transparentize($dark_gray, .5);
        }
        span{
          background-color: transparent;
        }
      }
    }
  }
}


.fd_carousel_topo{
  $height: 350px;

  position: relative;
  height: $height;

  .item{
    height: $height;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center bottom;
    }
  }

  @media only screen and (min-width: 768px){
    $height: 600px;

    height: $height;
    .item{
      height: $height;
    }
  }

  @media only screen and (min-width: 992px){
    $height: 780px;

    height: $height;
    .item{
      height: $height;
    }
  }
}