@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example 8.8.2
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

body {
  padding-top: 10px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #E5E5E5;
}
h2{
	color: #2679B5;
    font-size: 24px;
    font-weight: lighter;
    margin: 0 18px;
    padding: 0 0 10px;
}
td.ordem input{
	width: 50px;
}
p.name{
	max-width: 350px;
}