
$browser-context: 16; // Default

$open_sans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$black: #000000;
$white: #ffffff;
$dark_white: #f8f6f6;
$yellow: #e8c11e;
$dark_yellow: #b68b28;
$bege: #efeadf;
$light_gray: #e5e5e4;
$gray: #b3b3b0;
$dark_gray: #242424;
$red: #d43d6b;
$orange: #D96D00;
$dark_blue: #4D6575;
$dark_blue_2: #4C6574;




/* ANIMATIONS GRAPHICS */
$default-timing: .25s;

$cubic-easeing: cubic-bezier(0.51, 0.04, 0, 1);


/* MAP STYLE OPTIONS */
$map_width: 230px!important;
$map_radius: 8px;
$map_padding: 15px;