.fd_areas{
  background-color: $dark_white;

  h2{
    font-weight: 800;
    color: $dark_yellow;
    font-size: rem(43);
    text-align: center;
    margin-bottom: 30px;

    small{
      font-weight: 400;
      color: $dark_gray;
      text-transform: uppercase;
      font-size: rem(17);
    }
  }

  .fd_flex_column{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include flex-flow(row wrap);
  }
  [class^="col-xs-"]{
    padding: {
      left: 5px;
      right: 5px;
    };
    margin-bottom: 10px;

    width: 100%;
  }
  .fd_item{
    height: 150px;

    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    position: relative;
    @include scale(1);
    @include transform-origin(0 0);
    @include box-shadow(none);
    @include transition(all $default-timing*1.25 $cubic-easeing);
    cursor: pointer;

    .fd_miolo{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include flex-flow(row wrap);
    }

    figure{
      text-align: center;
      height: 54px;
      width: 54px;
      position: relative;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      margin: 0 auto 15px;

      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 100px;
        border: 2px solid $dark_yellow;
      }
    }

    h4{
      color: $white;
      font-weight: 400;
      font-size: rem(20);

      strong{
        font-weight: 800;
      }
    }

    .btn{
      background-color: $dark_yellow;
      color: $white;
      text-transform: uppercase;
      border-radius: 50px;
      padding: 4px 15px;
      margin: 10px auto 0;
      display: block;
      max-width: 116px;
      @include box-shadow(none);

      @include transition(all $default-timing*2 $cubic-easeing);

      &:focus,
      &:hover{
        background-color: $dark_gray;
        @include box-shadow(0 0 0 3px $dark_yellow);
      }

      @media only screen and (min-width: 768px){
        margin: 40px auto 0;
      }
    }

    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      width: 0;
      background-color: transparent;

      @include transition(background-color $default-timing*2 $cubic-easeing, width 0s ease $default-timing*2, height 0s ease $default-timing*2);
    }
    
    &.active{
      @include box-shadow(0 0 25px 0 rgba($black, .4));
      z-index: 80;

      .btn{
        display: none;
      }

      @media only screen and (min-width: 576px){
        @include scale(1.2);
        @include transform-origin(50% 0);
      }
    }

    &.disabled{
      pointer-events: none;

      &:after{
        width: 100%;
        height: 100%;
        background-color: transparentize($white, .1);

        @include transition(background-color $default-timing*2 $cubic-easeing);
      }
    }
  }

  @media only screen and (min-width: 576px){
    .fd_item{
      height: 200px;
    }
    [class^="col-xs-"]{
      width: 50%;
    }
  }

  @media only screen and (min-width: 992px){
    .fd_item{
      height:272px;

      h4{
        font-size: rem(24);
      }
    }
    [class^="col-xs-"]{
      width: 33%;
    }
  }
}


$background: "direito-civil", "direito-consumidor", "direito-empresarial", "direito-imobiliario", "direito-eleitoral";

@each $target in $background {
  .#{$target}{
    background: {
      color: $dark_gray;
      image: url('../images/backgrounds/#{$target}-bg.jpg');
      repeat: no-repeat;
      size: cover;
      position: center center;
    }
  }
}