.fd_articles{
  background-color: $bege;
  border-top: 8px solid $white;
  overflow: hidden;
  position: relative;

  h2{
    font-weight: 800;
    color: $dark_yellow;
    font-size: rem(43);
    text-align: center;
    margin-bottom: 30px;

    small{
      font-weight: 400;
      color: $dark_gray;
      text-transform: uppercase;
      font-size: rem(17);
    }
  }


  .fd_flex_column{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    margin-bottom: 25px;


    .btn{
      border-radius: 50px;
      line-height: 31px;
      height: 34px;
      width: 100%;
      max-width: 116px;
      padding: 0;
      color: $light_gray;
      font-size: rem(16);
      background-color: $dark_yellow;
      border: 2px solid $dark_yellow;
      margin-right: 50px;
      pointer-events: none;

      &:last-of-type{
        margin-right: 0;
      }

      &.inactive{
        background-color: transparent;
        border-color: $dark_gray + 60;
        color: $dark_gray + 80 ;
        pointer-events: all;
      }
    }
  }

  .item{
    @media only screen and (min-width: 992px){
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
    }
  }

  .fd_item{
    padding: 0 15px 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid $bege - 10;

    h3{
      a{
        color: $dark_gray;
        font-size: rem(25);
        font-weight: 800;
        text-decoration: none!important;
        @include transition(all $default-timing*1.5 $cubic-easeing);
      }

      &:hover,
      &:focus{
        a{
          color: $dark_yellow;
        }
      }
    }
    p{
      a{
        color: $dark_gray;
        font-size: rem(16);
        text-decoration: none!important;
        @include transition(all $default-timing*1.5 $cubic-easeing);
      }
      &:hover,
      &:focus{
        a{
          color: $dark_yellow;
        }
      }
    }

    .btn{
      background-color: transparent;
      color: $dark_yellow;
      text-transform: uppercase;
      border-radius: 50px;
      padding: 4px 15px;
      margin: 40px auto 0;
      display: block;
      max-width: 116px;
      border: 2px solid $dark_yellow;

      @include transition(all $default-timing*2 $cubic-easeing);

      &:focus,
      &:hover{
        background-color: $dark_yellow;
        color: $dark_gray;
      }
    }

    figure{
      height: 400px;
      overflow: hidden;
      background: {
        size: cover;
        position: center center;
        repeat: no-repeat;
      }
    }

    @media only screen and (min-width: 680px){
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);

      figure{
        //@include flexbox;
        //@include justify-content(center);
        //@include align-items(center);
        width: 265px;
        height: 265px;

        img{
          height: 265px;
          width: auto;
        }
      }

      figure,
      .fd_content{
        width: 50%;
        @include flex-grow(1);
      }

      .fd_content{
        padding: 0 0 0 30px;
      }
    }

    @media only screen and (min-width: 992px){
      padding-bottom: 40px;
      margin-bottom: 0;
      border-bottom-color: $light_gray - 30;
      width: 50%;
    }
  }

  .fd_article_content{
    position: relative;

    height: 1100px;

    @media only screen and (min-width: 430px){
      height: 1170px;
    }

    @media only screen and (min-width: 576px){
      height: 1340px;
    }

    @media only screen and (min-width: 768px) {
      height: 650px;
    }
    @media only screen and (min-width: 992px) {
      height: 450px;
    }
  }

}


.fd_internal_article{

  padding-top: 188px;

  article{
    margin-bottom: 75px;

    figure{
      width: 100%;
      height: 450px;
      overflow: hidden;

      img{
        width: 100%;
        display: block;
      }
    }

    h1,
    h2,
    h3{
      font-weight: 800;
      color: $black;
    }

    h1{
      margin: 50px 0 30px;
      font-size: rem(22);

      @media only screen and (min-width: 768px){
        font-size: rem(26)
      }
    }

    h2{
      font-size: rem(20);
      margin: 15px 0;

      @media only screen and (min-width: 768px){
        font-size: rem(22)
      }
    }
    h3{
      font-size: rem(18);
      margin: 15px 0;

      @media only screen and (min-width: 768px){
        font-size: rem(20)
      }
    }

    p,
    ul{
      color: $black + 10;
      font-size: rem(16);
      line-height: 150%;
      font-weight: 400;
      margin-bottom: 30px;
    }

    ul{
      li{
        position: relative;
        padding:{
          left: 15px;
        };
        color: $dark_gray;
        font-size: rem(16);
        line-height: 130%;
        margin-bottom: 5px;

        &:before{
          content: '';
          position: absolute;
          top: calc(50% - 7px/2);
          left: 0;

          height: 6px;
          width: 6px;
          border-radius: 50px;
          background-color: $dark_yellow;
        }
      }
    }

    a{
      position: relative;
      text-decoration: none!important;
      color: $dark_yellow;
      @include transition(color $default-timing*2 $cubic-easeing .25s);


      &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        border-bottom: 2px solid $dark_yellow;
        height:2px;
        width: 100%;

        @include transition(width $default-timing*2 $cubic-easeing .3s);
      }

      &:before{
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;

        border-bottom: 2px solid $dark_gray;
        height:2px;
        width: 0;

        @include transition(width $default-timing*2 $cubic-easeing);
      }



      &:focus,
      &:hover{
        color: $dark_gray;


        &:after{
          width: 0;
          @include transition(width $default-timing*2 $cubic-easeing);
        }

        &:before{
          width: 100%;
          @include transition(width $default-timing*2 $cubic-easeing .3s);
        }
      }
    }
  }

  aside{
    h4{
      font-size: rem(21);
      color: $dark_gray;
      text-transform: capitalize;
      margin:  20px 0 15px;
    }
    ul{
      li{
        border-bottom: 1px solid transparentize($dark_gray, .8);
        padding: 12px 0;

        &:last-of-type{
          border-bottom: none;
        }
        a{
          font-size: rem(15);
          color: $dark_gray;
          text-decoration: none!important;
          line-height: 150%;
        }
      }
    }
    .btn{
      width: 100%;
      max-width: 193px;
      position: relative;
      height: 32px;
      line-height: 32px;
      color: $dark_white;
      background-color: $dark_yellow;
      padding: 0 0 0 20px;
      border-radius: 50px;
      margin: 10px 0;
      display: block;
      font-weight: 400;

      @include transition(all $default-timing*2 $cubic-easeing);

      &:before{
        content: url('../images/icons/arrow.png');
        position: absolute;
        left: 20px;
        top: 2px;
        bottom: 0;
      }

      &:focus,
      &:hover{
        color: $dark_yellow;
        background-color: $dark_gray;
      }
    }
  }
}


.row-content {
  position: relative;
  height: 900px;

  @media only screen and (min-width: 768px) {
    height: 650px;
  }
  @media only screen and (min-width: 992px) {
    height: 450px;
  }
}


#fd_carousel_artigos,
#fd_carousel_noticias{
  position: absolute;
  max-width: 1150px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left:0;
  background-color: $bege;

  @include transition(left $default-timing*2 $cubic-easeing);
}

@media only screen and (min-width: 576px){
  #fd_carousel_artigos,
  #fd_carousel_noticias{
    height: 650px;
  }
}

@media only screen and (min-width: 768px){
  #fd_carousel_artigos,
  #fd_carousel_noticias{
    height: 650px;
  }
}
@media only screen and (min-width: 992px){
  #fd_carousel_artigos,
  #fd_carousel_noticias{
    height: 450px;
  }
}


#fd_carousel_noticias,
#fd_carousel_artigos{
  &.inactive{
    left:100vw;
  }
}