.institutional{
  .institutional-content{
    min-height: 431px;
    padding: {
      top: 50px;
      bottom: 50px;
    };
    .container{
      h2{
        font-weight: 800;
        color: $dark_yellow;
        font-size: rem(43);
        text-align: center;
        margin-bottom: 30px;

        small{
          font-weight: 400;
          color: $dark_gray;
          text-transform: uppercase;
          font-size: rem(17);
        }
      }

      p{
        font-size: rem(14);
        color: lighten( $dark_gray, 30% );
        width: 100%;
        max-width: 711px;
        margin: 0 auto 30px;
        text-align: center;
        line-height: 150%;
      }
    }

  }

  @media only screen and (min-width: 768px){

    .institutional-content{
      .container{
        h2{
          margin-bottom: 45px;
        }
        p{
          font-size: rem(17);
          line-height: 180%;
        }
      }
    }
  }

  @media only screen and (min-width: 992px){
    .institutional-content{
      .container{
        h2{
          margin-bottom: 60px;
        }
      }
    }
  }
}

.fd_wrap_team{
  background: {
    image: url('../images/backgrounds/institutional-bg.jpg');
    repeat: no-repeat;
    size: cover;
    position: center center;
  }

  padding: {
    top: 50px;
    bottom: 60px;
  }

  .container{

    .fd_item{
      width: 100%;
      position: relative;
      margin: 0 auto 25px;

      @media only screen and (min-width: 576px){
        max-width: 248px;
      }

      @media only screen and (min-width: 768px){
        width: auto;
        margin: 0;
      }

      .fd_content {

        a {
          &.fd_content_button {
            figure {
              width: 100%;
              max-width: 248px;
              display: block;
              margin: 0 auto;
              img {
                @include box-shadow(none);
                @include transition(box-shadow $default-timing $cubic-easeing);
                margin-bottom: 30px;
              }
            }
          }

          &.opened{
            figure{
              >img{
                @include box-shadow(0 0 0 8px $dark_yellow);
              }
            }
          }
        }

        p{
          color: $dark_gray;
          font-size: rem(20);
          padding: 0 15px;
          text-align: center;
          line-height: 100%;
        }

        .fd_buttons{
          width: 83px;
          height: 41px;
          @include flexbox;
          @include justify-content(space-around);
          @include align-items(center);
          margin: 0 auto;

          a{
            height: 31px;
            width: 31px;
            border-radius: 50px;
            position: relative;

            @include flexbox;
            @include justify-content(center);
            @include align-items(center);

            &:after{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              border-radius: 50px;
              border: 2px solid $dark_yellow;
              @include transition(all $default-timing $cubic-easeing);
            }

            img{
              width: 16px;
              height: 16px;
            }

            &:focus,
            &:hover{
              &:after{
                top: -2px;
                left: -2px;
                right: -2px;
                bottom: -2px;
              }
            }
          }
        }
      }

      .fd_content_resume{
        display: none;
        @include justify-content(center);
        @include align-items(center);
        @include flex-flow(row wrap);
        position: absolute;
        top: 105%;
        width: 100%;
        z-index: 8;
        background-color: #fff;
        padding: 50px;
        border-radius: 15px;

        p{
          font-size: rem(18);
          line-height: 160%;
          color: lighten($dark_gray, 35%);
          margin-bottom: 25px;

          &:last-of-type{
            margin-bottom: 0;
          }
        }

        &.left{
          opacity:0;
          left: 0;
          @include transition(all $default-timing * 2 $cubic-easeing);
        }
        &.right{
          right: 80%;
          opacity:0;
          @include transition(all $default-timing * 2 $cubic-easeing);
        }

        &.opened{
          // @include flexbox;
          display: block!important;
          max-height: 358px;
          overflow: auto;

          &.left{
            left: 0;
            opacity:1;
          }
          &.right{
            right: 0;
            opacity:1;
            top: auto;
            bottom: 105%;
          }
        }

        @media only screen and (min-width: 576px){

          width: 250px;
          top: 0;

          &.opened{
            @include flexbox;

            &.left{
              left: 120%;
              opacity:1;
              top: 0;
              bottom: auto;
            }
            &.right{
              right: 120%;
              opacity:1;
              top: 0;
              bottom: auto;
            }
          }
        }

        @media only screen and (min-width: 768px){

          &.opened{
            @include flexbox;

            &.left{
              left: 120%;

            }
            &.right{
              right: 120%;

            }
          }
        }

        @media only screen and (min-width: 992px){
          width: 400px;
        }
      }
    }
  }


  @media only screen and (min-width: 576px){
    .container{
      @include flexbox;
      @include justify-content(center);
      @include align-items(flex-start);

      .fd_item{
        margin: {
          right: 50px;
          bottom: 50px;
        }

        &:last-of-type{
          margin-right: 0;
        }

        .fd_content{
          p{
            font-size: rem(28);
            padding: 0 40px;
            line-height: 100%;
          }
        }
      }
    }
  }
}