.fd_wrap_mission{
  background: {
    image: url('../images/backgrounds/mission-bg.jpg');
    repeat: no-repeat;
    size: cover;
    position: center center;
  }

  padding: {
    top: 50px;
    bottom: 50px;
  }

  .fd_item{
    border: 1px solid $white;
    padding: 20px;
    margin-bottom: 25px;
    @include flexbox;
    @include align-items(center);
    @include flex-flow(row wrap);

    p{
      font-size: rem(15);
      color: $white;
      line-height: 137%;
      margin-top: 20px;
    }

    h3{
      font-weight: 800;
      font-size: rem(40);
      color: $dark_yellow;
      margin: 0;
    }
  }

  .col-sm-5{
    .fd_item{
      @include justify-content(flex-start);

      figure{
        margin-right: 20px;
      }
      h3{
        margin: -25px 0;
      }
    }
  }
  .col-sm-7{
    .fd_item{
      @include justify-content(flex-start);

      figure{
        margin-right: 20px;
      }
    }
  }

  @media only screen and (min-width: 768px){
    .fd_item{
      padding: 30px 50px;
    }

    .col-sm-5{
      .fd_item{
        height: 489px;
        @include justify-content(center);
        padding: {
          top: 15px;
          bottom: 45px;
        }

        figure{
          width: 100%;
          text-align: center;
          margin: 0 0 -40px;
        }

        p{
          width: 100%;
          max-width: 249px;
          margin: 0 auto;
        }
      }
    }

    .col-sm-7{
      .fd_item{
        height: calc(489px / 2 - 12.5px);

        &:first-of-type{
          margin-bottom: 25px;
        }
      }
    }
  }
  @media only screen and (min-width: 992px){
    .fd_item{
      padding: 30px 50px;
    }

    .col-sm-5{
      .fd_item{
        height: 489px;
        padding: {
          top: 15px;
          bottom: 45px;
        }
      }
    }

    .col-sm-7{
      .fd_item{
        height: calc(489px / 2 - 12.5px);

        &:first-of-type{
          margin-bottom: 25px;
        }
      }
    }
  }
  @media only screen and (min-width: 1200px){

    .fd_item{
      padding: 30px 50px;
    }

    .col-sm-5{
      .fd_item{
        height: 489px;
        padding: 15px 80px 45px;
      }
    }

    .col-sm-7{
      .fd_item{
        height: calc(489px / 2 - 12.5px);

        &:first-of-type{
          margin-bottom: 25px;
        }
      }
    }
  }
}