.button-close{
  position: absolute;
  border: 1px solid $white;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  padding: 0;
  color: $white;
  text-decoration: none!important;
  top: 15px;
  right: 15px;

  display: none;

  text-align: center;
  line-height: 30px;

  &:focus,
  &:hover{
    color: $white;
  }
}