form{
  position: relative;
}

.fd_group{

  $form_validate_color: #28b68b;

  position: relative;
  width: 100%;

  label{
    &.fd_label {
      font-size: rem(16);
      text-align: left;
      font-weight: normal;
      color: transparentize($dark_white, .4);
      position: absolute;
      text-transform: capitalize;
      pointer-events: none;
      bottom: 0;
      left: 10px;
      @include transition(all .2s ease-in-out);
    }
  }

  .fd_input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparentize($dark_white, .75);
    border-radius: 0;
    @include box-shadow(none!important);
    height: 37px;
    line-height: 37px;
    padding: 0 15px;
    font-size: rem(13);
    color: $white;

    @media only screen and (min-width: 768px){
      font-size: rem(16);
    }

    &:focus{
      border-color: $yellow;
    }

    &:focus ~ .fd_label,
    &.used ~ .fd_label {
      bottom: 70%;
      left: 10px;
      font-size: rem(12);
      color: $white;
      border-radius: 2px;
    }

    &:valid ~ .fd_label,
    &:valid.used ~ .fd_label {
      background-color: transparent;
      color: $form_validate_color;
    }

    &:valid {
      border-color: $form_validate_color;
    }

    &.error{
      border-bottom-color: $red;
    }
  }

  textarea{
    &.fd_input{
      height: calc( 40px * 3 + 15px * 2 );
      resize: none;
      padding-top: 5px;

      &:valid {
        border-color: $form_validate_color;
      }

      &:focus ~ .fd_label,
      &.used ~ .fd_label {
        bottom: 90%;
        left: 10px;
        font-size: rem(12);
        color: $dark_yellow;
        border-radius: 2px;
      }

      &:valid ~ .fd_label,
      &:valid.used ~ .fd_label {
        background-color: transparent;
        color: $form_validate_color;
      }
    }
  }
}

label.error{
  background-color: $red;
  border-radius: 2px;
  position: absolute;
  bottom: -15px;
  left: auto;
  text-align: left;
  font-size: rem(11);
  text-transform: uppercase;
  color: $dark_white;
  font-weight: 400;
  padding: 3px;
  width: 80px;
  right: 0;

  @include flexbox;
  @include justify-content(center);
  @include align-items(center);

  &:before{
    content: '';
    position:absolute;
    left: -5px;
    top: 50%;
    @include translate(0, -50%);

    border: {
      top: 5px solid transparent;
      right: 5px solid $red;
      bottom: 5px solid transparent;
    }
  }

  @media only screen and (min-width: 992px){
    bottom: -15px;
    left: 105%;
    right: auto;
    width: 100px;
  }

}

.fd_form_message{
  position: absolute;
  top: 15px;
  z-index: 90;
  margin-top: 15px;
  display: none;

  font-size: rem(16);
  font-weight: 500;
  color: $dark_yellow;

  background-color: $dark_gray;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border-radius: 8px;

}