
.navbar{
  &.navbar-default{
    background-color: $black;
    border: none;
    top: 0;
    @include transition(background-color $default-timing * 2 ease, top $default-timing * 2 $cubic-easeing);

    &.opened{
      top: calc(60px * 5);
    }

    .navbar-brand{
      @media only screen and (max-width: 767px){
        padding: 0 15px;

        img{
          height: 100%;
        }
      }
    }

    .fd_menu{

      @media only screen and (max-width: 767px){
        position: fixed;
        top: calc(-60px * 5);
        left:0;
        right: 0;
        background-color: $black;
        @include transition(top $default-timing * 2 $cubic-easeing);

        ul{
          &.navbar-nav{
            margin: {
              top: 0;
              bottom: 0;
            };

            li{

              a{
                height: 60px;
                line-height: 60px;
                padding: 0 30px;

                color: transparentize($white, .25);
              }
              
              &.active{
                a{
                  color: $dark_yellow;
                }
              }
            }
          }
        }


        &.opened{
          top: 0;
        }
      }
    }


    &.navbar-post{
      background-color: $black;
    }

    @media only screen and (min-width: 768px){
      $height: 100px;
      $padding: 15px;

      height: $height;
      background-color: transparent;

      ul{
        &.navbar-nav{
          width: calc( 100% - 256px );
          @include flexbox;
          @include justify-content(space-around);
          @include align-items(center);

          li{
            width: 100%;
            a{
              height: $height;
              width: 100%;
              text-align: center;
              color: $dark_white;
              @include flexbox;
              @include justify-content(center);
              @include align-items(center);

              @include transition(color $default-timing ease);

              &:hover,
              &:focus{
                color: $dark_yellow;
              }
            }

            &.active{
              a{
                color: $dark_yellow;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
    &.affix{
      background-color: $black;
      @include box-shadow(0 0 15px transparentize($black, .5));
    }
  }
}