.fd_tabs{
  background-color: $dark_gray;
  margin-top: 50px;
  padding-top: 50px;
  display: none;

  @media only screen and (min-width: 992px){
    margin-top: 100px;
    padding-top: 0;
  }

  .fd_flex_column{
    padding: 20px 15px;
    @include align-items(flex-start!important);

    .fd_list,
    p{
      @include flex-grow(1);
    }

    p{
      color: $dark_gray;
      font-size: rem(16);
      line-height: 130%;
      margin-bottom: 5px;
    }

    @media only screen and (min-width: 768px){
      padding: 80px;

      p{
        color: darken($light_gray, 10%);
        font-size: rem(18);
        line-height: 180%;
      }
    }
  }

  .nav.nav-tabs{
    height: 42px;

    @include flexbox;
    @include justify-content(space-around);
    @include align-items(center);

    li{
      width: 100%;
      text-align: center;
      margin-right: 5px;

      &:last-of-type{
        margin-right: 0;
      }

      a{
        background-color: $light_gray;
        font-weight: 400;
        color: $dark_gray;
        font-size: rem(18);
        height: 42px;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        padding: 0;
      }


      &.active{
        a{
          background-color: $dark_gray;
          color: $dark_yellow;
          font-size: rem(18);
          font-weight: 800;
        }
      }
    }

    @media only screen and (min-width: 992px){
      margin-top: -42px;
    }
  }



  /* COLLAPSED TABS */
  .panel-default{
    box-shadow: none!important;
    background-color: $light_gray;
    border-color: $light_gray;

    .panel-heading{
      background-color: $light_gray;
      padding: 0;

      h4{
        display: block;
        width: 100%;
        a{
          background-color: $light_gray;
          height: 42px;
          font-weight: 400;
          color: $dark_gray;
          font-size: rem(18);
          @include flexbox;
          @include justify-content(flex-start);
          @include align-items(center);
          padding: 0 25px;
          text-decoration: none!important;
          border-radius: 4px;

          &:not(.collapsed){
            background-color: $dark_gray;
            color: $dark_yellow;
            font-size: rem(20);
            font-weight: 800;
          }
        }
      }
    }

    .panel-body{

    }
  }
}
