<?php $this->Html->addCrumb('Associados'); ?>

<div class="row">
    <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
        Banners
        <?php echo $this->Html->link('Cadastrar Associado', array('action' => 'add'), array('class' => 'btn btn-info pull-right')); ?>
    </h3>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <div class="row-fluid">
                    <div class="col-sm-12 col-md-10 col-lg-11">
                        <?php echo $this->FilterForm->create(null, array('role' => 'form', 'class' => 'form-inline')) ?>
                        <div class="form-group">
                            <?php echo $this->FilterForm->input('filtro_nome', array('placeholder' => 'Filtrar por nome', 'class' => 'form-control')) ?>
                        </div>
                        <?php echo $this->FilterForm->submit('Filtrar', array('class' => 'btn btn-success', 'div' => false)) ?>
                        <?php echo $this->Html->link('Limpar Filtro', array('action' => 'index'), array('class' => 'btn btn-warning')) ?>
                        <?php echo $this->FilterForm->end() ?>
                    </div>
                    <div class="col-lg-1 visible-md visible-lg">
                        <?php echo $this->Element('FdDashboard.limit'); ?>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">


                <table class="table table-hover general-table">
                    <thead>
                    <tr>
                        <th style="width:60px"><?php echo $this->Paginator->sort('id', '#') ?></th>
                        <th>Thumb</th>
                        <th><?php echo $this->Paginator->sort('nome') ?></th>
                        <th><?php echo $this->Paginator->sort('modified', 'Modificação') ?></th>
                        <th style="width:180px">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php if(isset($associados)): ?>
                        <?php foreach($associados AS $banner): ?>
                            <tr>
                                <td><?php echo $banner['Associados']['id'] ?></td>
                                <td>
                                    <img src="<?php echo $this->Html->url($banner['Associados']['path'] .'/'. $banner['Associados']['dir'] . '/400_' . $banner['Associados']['file']) ?>" alt="" width="50" />
                                </td>
                                <td><?php echo $banner['Associados']['nome'] ?></td>
                                <td><?php echo $this->Time->format($banner['Associados']['modified'], '%d/%m/%Y %H:%M:%S') ?></td>
                                <td>
                                    <?php echo $this->Html->link('<i class="fa fa-edit"></i> Editar', array('action' => 'edit', $banner['Associados']['id']), array('class' => 'btn btn-primary btn-sm', 'escape' => false)) ?>
                                    <?php echo $this->Html->link('<i class="fa fa-trash-o"></i> Remover', array('action' => 'delete', $banner['Associados']['id']), array('class' => 'btn btn-danger btn-sm', 'escape' => false), __('Deseja mesmo remover o registro # %s?', $banner['Associados']['nome'])) ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td colspan="5" class="text-center">Nenhum registro encontrado.</td>
                        </tr>
                    <?php endIf; ?>
                    </tbody>
                </table>

                <?php echo $this->Element('FdDashboard.paginator'); ?>
            </div>
        </section>
    </div>
</div>