/**
 * @author   Nicolas Rod <nico@alaxos.com>
 * @license  http://www.opensource.org/licenses/mit-license.php The MIT License
 * @link     http://www.alaxos.ch
 */

textarea, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], 
input[type="color"]{
	margin-bottom: 0px;
	margin-right: 10px;
}

#plugin_acl{
	padding:5px;
	margin:5px auto 5px auto;
}
#plugin_acl th{
	background-color: #1fb5ad;
	color: #FFF;
}
#plugin_acl th a{
	color: #FFF;
}
#plugin_acl tr{
	margin:0px;

	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fcfcfc -moz-use-text-color #e5e5e5;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
}
#plugin_acl th, #plugin_acl td{
	padding:0px 5px;
	margin:10px;
	line-height:25px;
	min-width:38px;
	text-align:left;
}
#plugin_acl td img{
    vertical-align: middle;
}
#plugin_acl p{
	margin:5px 0px;
}
.acl_links{
	margin:15px 0px;
}
ul.acl_links{
	list-style: none ;
	margin: 0 ;
	padding: 0 ;
	overflow: hidden ;
}
ul.acl_links li{
	float: left ;
	margin-right: 1px ;
	color: #fff ;
}
ul.acl_links li a{
	display: block ;
	background:#767676;
	color:snow ;
	font: 400 14px/1em "Trebuchet MS",Arial,sans-serif;
	line-height: 1em ;
	margin-right: 5px;
    padding: 8px 12px;
	text-align: center ;
	text-decoration: none ;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
ul.acl_links a:hover, ul.acl_links li a:focus, ul.acl_links li a:active {
	background: #1fb5ad ;
	text-decoration: underline ;
}
ul.acl_links li a.selected{
	background: #1fb5ad;
}

.separator{
	height:20px;
}
.pointer{
	cursor: pointer;
}

tr.title{
	padding-top: 20px;
	padding-bottom: 20px;
}
tr.title td{
	background: none repeat scroll 0 0 #767676;
    color: #fff;
}
/*
.color1{
	background-color:#ffffff;
}


tr.color1:hover
{
	background-color:#cccccc;
}
.color2
{
	background-color:#cccccc;
}
tr.color2:hover
{
	background-color:#ffffff;
}
tr.title
{
	background-color:#444444;
	color:#ffffff;
}*/

.line_warning{
	background-image: url('../img/design/warning_small.png');
	background-repeat: no-repeat;
	background-position: right;
	overflow:visible;
	color:red;
}
.warning{
	background-image: url('../img/design/warning_medium.gif');
	background-repeat: no-repeat;
	padding-left:40px;
	color:red;
	line-height:32px;
}
#pluginAclflashMessage.message{
	width:300px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	color:#04AF0D;
	text-align:center;
}
#pluginAclflashMessage.error{
	width:300px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	color:#ff0000;
	text-align:center;
}